@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: dodgerblue;
  color:  white;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}
.wrapper{
  color: black;
  margin: 20px 0 0 0;

}
.container{
  width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 30px 45px #00000030;
}
.sex{
  padding: 10px 0;
}
.button{
  padding: 3px;
}
.html{
  margin: 10px 0 0 0;
  text-align: center;
}
.img{
  text-align: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: lightgray;
  margin: 20px;
  background-size: cover;
}
footer{
  font-weight: bolder;
  margin: 20px;
  text-align: center;
}
footer>p>a{
  color: yellow;
  cursor: pointer;
  text-decoration: none;

}